{ñl}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}




.container-fluid{
   position: fixed;
   background-color:rgb(220, 137, 137);
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   top: 0;
   z-index:9999 ;
   width: 100;
}   

.TITULO_UNO{
    text-decoration: underline darkred ;
    font-size: 35px; /*Tamaño del texto/titulo*/
    font-family:cursive ; /*forma de las letras*/ 
    font-style: oblique; /*inclinacion de las letras*/
    text-align: center; /*centrar textos*/
    margin-top: 40px;


}




.links_videos{

    text-decoration:none;  /*quitar subrayado de textos*/
    padding-left:10px;
    margin: 20px;
    

}


.roles{

    padding: 10px 5px 15px 20px;
}



.fundo{  
    background-color: rgba(95, 158, 160, 0.774);
   
    font-size: 27px;

    color: rgba(24, 7, 156, 0.585);

    padding:10px;

    padding-left: 8px;

    max-width: 100%

}



.parrafo_texto{

    max-width: 100%;
    
}


h3{ 
    background-color: rgba(95, 158, 160, 0.774);
   
    color: rgba(24, 7, 156, 0.585);

    font-size: 22px;



}

.titulos_totales{

    max-width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 15px;
    

}

p{
    margin-left: 10px;

}


.idolos_club{
    font-size: 20px;
   
    background-color: rgba(95, 158, 160, 0.774);

    color: rgba(24, 7, 156, 0.585);

    max-width: 100%;

    padding: 5px;

}


h2{
    padding:40px;
}

.foco:hover{
    transform: scale(1.5);
    padding-top: 40px;
    padding-bottom: 40px;
}


.Contenedor_Limite{
        padding-bottom: 35px;
}



.padre{
        display: flex; /*alinea las card*/
        flex-wrap: wrap; /*distribuye el espacio de las cards*/
        justify-content: space-evenly;
        max-width: 100%;

    }

.cards_2{
    
    heigh /* distancia de la card a los otros codigos*/
    max-width: 100%;
    
}


img{
    width:100%;
}


footer{
    padding: 25px;
    background-color: darkgray;
}


.titulo_redes{
    font-size: 15px;
   
    padding: 20px 2px;
    list-style: none;
    

} 

.links_redes{
    color:brown;
    font-size: 15px;
    text-decoration: none;

}



@media screen and (max-width:870px) {
    header{
        flex-direction:column;
        align-items:start;
        display: flex;
        
    }     

    nav li{
        display:block;

    }   

    .cards_2{
        margin: 0 auto;
        margin-top: 20px;
    }
}


/*fixed fijado*/




nav li :hover{ /*agranda los links*/

    color:darkmagenta;/*arriba de los links colores*/
    font-size: 20px;

}




.parent {
    padding-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }




.texto_videos{

    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    font-size: 20px;
}